<template id="img-gallery">
  <section class="img-gallery-deck">
    <section class="img-gallery-controls">
      <div class="img-gallery-controls-back">
        <button class="img-gallery-btn img-gallery-btn-back">Previous</button>
      </div>
      <div class="img-gallery-deck-items">
        <img class="img-gallery-deck-img img-gallery-deck-back" src="" alt="">
        <img class="img-gallery-deck-img img-gallery-deck-current" src="" alt="">
        <img class="img-gallery-deck-img img-gallery-deck-next" src="" alt="">
      </div>
      <div class="img-gallery-controls-next">
        <button class="img-gallery-btn img-gallery-btn-next">Next</button>
      </div>
    </section>
    <footer class="img-gallery-meta">
      <span class="img-gallery-meta-current">0</span>
      of
      <span class="img-gallery-meta-total">0</span>
    </footer>
  </section>
  <section class="img-gallery-thumbs"></section>
</template>
